
      * {
        border: 0px solid red;
        box-sizing: border-box;
      }

     .logo-png {
      padding: 10px; 
      width: 100%;
      max-width: 400px;
      height: auto; 
      }
    
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        background-color: white;
      }

      .box {
        padding-top: 5px;
        width: 100%;
        height: 100%;
        min-height: 800px;
        position: relative;
      }

      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .divider {
        width: 100%;
        height: 1px;
        border: none;
        background-color: #ccc;
        margin: 10px 0;
      }

      .divider-silent {
        width: 100%;
        height: 1px;
        border: none;
        background-color: white;
        margin: 10px 0;
      }

      .best-box {
        width: 90%;
        height: auto;
        margin: auto;
        text-align: center;
        border: 8px dotted #2342b0;
        padding: 10px;
        overflow: scroll;

        margin-top: 30px;
        margin-bottom: 30px;
      }

      .parent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }  

      @media (max-width: 700px) {
        .parent {
          flex-direction: column;
        }
      }    

      .box2 {
          width: 50%;
          height: 500px;
          margin: auto;
          text-align: center;
          padding: 20px;
          padding-top: 30px;

          font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      .box2 ul {
        list-style: none;
        padding-left: 0;

        border: 5px dotted #2342b0;
      }
      
      .box2 li {
        padding-left: 20px;
        position: relative;
      }
      
      .box2 li {
        padding: 18px;
      }

      .frontpage-image {
        width: 100%;
        height: 100%;
      }

      header {
        background-color: white;
        padding: 20px;
        text-align: center;
      }
      
       h1 {
        color: #2342b0;
        margin: 0;
      }
      
      nav {
        background-color: white;
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 5px;
      }
      
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      nav li {
        display: inline-block;
        padding-right: 60px;
        padding-left: 60px;
        padding-bottom: 10px;
      }

      nav a {
        font: 18px/1.5 rem;
        font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: #2342b0;
        text-decoration: none;
        text-align: center;
      }
      
      nav a:hover {
        color: #2342b0;
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 7px;
      }

      main {
        display: flex;
        margin: 20px;
      }
      
      section {
        flex: 1;
        margin: 0 20px;
      }
      
      section h2 {
        margin: 0;
      }
      
      footer {
        background-color: #2342b0;
        color: white;
        padding: 20px;
        text-align: center;
        font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
      }
      
        