
      * {
        border: 0px solid red;
        box-sizing: border-box;
      }

     .logo-png {
      padding: 10px; 
      width: 30%;
      height: 30%; 
      }
    
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: white;
      }

      .box {
        padding-top: 5px;
        width: 100%;
        height: 100%;
      }

      .frontpage-image {
        width: 100%;
        height: 100%;
      }

      header {
        background-color: white;
        padding: 20px;
        text-align: center;
      }
      
       h1 {
        color: #2342b0;
        margin: 0;
      }
      
      nav {
        background-color: white;
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
      }
      
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      nav li {
        display: inline-block;
        padding-right: 60px;
        padding-left: 60px;
      }

      nav a {
        font: 18px/1.5rem 'Roboto', Helvetica, Arial, sans-serif;
        color: #2342b0;
        text-decoration: none;
      }
      
      nav a:hover {
        color: #2342b0;
        text-decoration: underline;
        text-underline-offset: 7px;
        cursor: pointer;
      }

      main {
        display: flex;
        margin: 20px;
      }
      
      section {
        flex: 1;
        margin: 0 20px;
      }
      
      section h2 {
        margin: 0;
      }
      
      footer {
        background-color: #2342b0;
        color: white;
        padding: 20px;
        text-align: center;
      }
      
        